/*Parte estructural*/

*{
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap'); /*font-family: 'Questrial', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One&display=swap'); /*font-family: 'Chau Philomene One', sans-serif;*/


html{
	width: 100%;
	height: 100%;
	font-family: 'Questrial', sans-serif;
}

body{
	margin: 0;
	padding: 0;
}

#container{
	width: 100%;
	height: 100%;
	margin: 0 auto;
}


/* Parte Header */

#menuHorizontal1{
   list-style-type: none;
   text-align: center;
}

#menuHorizontal1 a{
  text-decoration: none;
  color: white;
}

.li1{
  background: transparent;
}

#menuHorizontal1 .listasin {
  display: inline;
  margin: 5px;
  padding: 15px;
  background-color: black;
  border-radius: 4px;
  color: white;
}

.logoMenu{
  height: 60px;
  margin-right: 10px;
}


/* Banner destacados inicio */

#slideshow-container{
	max-width: 100%;
	position: relative;
	margin: auto;
	overflow: hidden;
}

#slideshow-container ul{
	display: flex;
	padding: 0;
	width: 400%;
	animation:  cambio 20s infinite alternate linear;
}

#slideshow-container li{
	width: 100%;
	list-style: none;
}

.imagenSlider {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}



/* Parte central- contenido principal */


#blog{
	display: grid;
	grid-template-rows: auto 3fr;
}



#eventoMasNewsletter{
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	margin: 0px auto;
}

#evento{
	background-color: white;
	width: 60%;
	margin: 0px auto;
	padding: 60px;
}

#newsletter{
	display: flex;
	flex-direction: column;
	width: 40%;
	padding: 60px;
}

#newsletter, h2{
	font-family: 'Chau Philomene One', sans-serif;
}

.productBox{
	background-color: #D9D9D9;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 15px;
}

.productBox img{
	width: 180px;
	margin: 10px;

}

.box{
	display: flex;
	flex-direction: row;
}

.content{
	margin-left: 20px;
}



/* botones */

.registro{
	background-color: #C5B1B1;
	margin-top: 10px;
	margin-bottom: 30px;
	padding: 10px 50px 10px 50px;
	filter: drop-shadow(3px 3px 3px black) drop-shadow(4px 4px 4px white);
	border-radius: 5px;
}

.carrito{
	background-color: #A3EC2B;
	padding: 5px 50px 5px 50px;
	filter: drop-shadow(3px 3px 3px black) drop-shadow(4px 4px 4px white);
	border-radius: 5px;
}

.borrar{
	background-color: #FA0A0A;
	padding: 5px 30px 5px 30px;
	filter: drop-shadow(3px 3px 3px black) drop-shadow(4px 4px 4px white);
	border-radius: 5px;
}

/* Media de la main */

#newsletter{
	background-image: url(media/newsletter.jpg);
	background-size: 150px;
}

#newsletterText{
	margin-top: 10px;

}

#newsletterMedia_1{
	width: 345.56;
	height: 457.08;
	border-radius: 40px;
	margin-top: 15px;
}

.disponibilidadProductoTienda img{
	width: 60px;
	border-radius: 10px;
}

#metodosCompra{
	width: 300px;
}



/* Parte de listas y menús */

#menuhorizontal, #menuHorizontal1{
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;
}

#menuhorizontal, .listasin{
	padding: 25px 20px 10px 20px;
	line-height: 25px;
}


.listasin{
	list-style-type: none;
}


/* Slider Destacados Final */

#bannerDestacados{
	text-align: center;
}

#bannerDestacados, img{
	width: 100%;
}

/* Footer */

#footer{
	display: flex;
	flex-direction: row;
	background-color: #D9D9D9;
	align-content: center;
	justify-content: space-between;
	padding-right: 100px;
	padding-left: 100px;

}
#footer, .listasin{
	margin-top: 10px;
	margin-bottom: 10px;
}