header{
    display: flex;
    justify-content: space-around;
}


.contenedor{ 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    flex-direction: row;
}

form{
     padding:  5px;
    border: black solid 1px;
    background: linear-gradient(90deg, rgba(175,92,22,0.9794292717086834) 0%, rgba(184,84,14,0.9626225490196079) 32%, rgba(255,211,0,1) 100%);
    width: 205px;

}

.producto{
    flex-direction: row;
    display: flex;

}


label {
    color: white;
    display: block;
    padding: 10px;
    font-family: 'Charis SIL', serif;
}

input{ 
    font-family: 'Charis SIL', serif;
    width: 200px;


}


button { 
    font-family: 'Charis SIL', serif;
    font-size: 20px;
    
  }