#headerTienda{
	display: flex;
	place-content: center;
}

span img{
	width: 20px;
}

.gridTienda_box_picture{
	width: 420px;
}

#gridTiendas{
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 25px;
}

.gridTienda_box{
	background-color: #D9D9D9;
}

